version: "3.8"

services:
  db:
    image: postgres:16
    container_name: sports_platform_db
    environment:
      POSTGRES_DB: sports_platform
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ri12@345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: sports_platform_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: sports_platform_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
